@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Poppins";
  font-weight: 300;
  color: #9C9C9C;
  background-color: #0D0D11;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: clip;
}

[class*=__container] {
  max-width: 1310px;
  margin: 0 auto;
  padding: 0 15px;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.button {
  display: inline-block;
  padding: 16px 30px;
  text-align: center;
  height: 52px;
  border-radius: 50px;
  background-color: #3D96F4;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 2px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.button:hover {
  background-color: #337ece;
}
.button_dark {
  background-color: rgba(129, 129, 139, 0.2);
}
.button_dark:hover {
  background-color: rgba(129, 129, 139, 0.1);
}
@media (max-width: 991.98px) {
  .button {
    padding: 14px 20px;
  }
}

.header-main__label {
  border-radius: 12px;
  border: 1px solid rgba(129, 129, 139, 0.2);
  color: #9C9C9C;
  font-size: 10.8px;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 1.6;
  display: inline-block;
  padding: 11px 19px;
  -webkit-transition: border 0.3s ease 0s;
  transition: border 0.3s ease 0s;
}
.header-main__label:hover {
  border: 1px solid rgba(129, 129, 139, 0.5);
}
.header-main__label:not(:last-child) {
  margin: 0 0 19px 0;
}
.header-main__title {
  color: #fff;
  font-size: 51.2px;
  font-weight: 500;
  line-height: 120%;
}
@media (max-width: 991.98px) {
  .header-main__title {
    font-size: 44px;
  }
}
@media (max-width: 767.98px) {
  .header-main__title {
    font-size: 32px;
  }
}
@media (min-width: 768px) {
  .header-main__title {
    max-width: 520px;
  }
}
.header-main__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
@media (max-width: 767.98px) {
  .header-main__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.header-main__text {
  font-size: 18px;
  color: #81818B;
  line-height: 150%;
}
.header-main__list li {
  position: relative;
  padding-left: 42px;
  min-height: 32px;
  color: #9C9C9C;
  line-height: 1.5;
  padding-top: 5px;
}
.header-main__list li:not(:last-child) {
  margin: 0 0 16px 0;
}
.header-main__list li::before {
  content: "";
  position: absolute;
  width: 32px;
  height: 32px;
  background: rgba(129, 129, 139, 0.1) url(../img/why/checkli.svg) center no-repeat;
  top: 0;
  left: 0;
  border-radius: 50%;
}

/*|HEADER|HEADER|HEADER|HEADER|HEADER|HEADER|HEADER|HEADER|HEADER|HEADER|HEADER|HEADER|HEADER|HEADER|HEADER|*/
.header {
  position: fixed;
  z-index: 50;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(13, 13, 17, 0.9);
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 116px;
  padding-top: 5px;
  padding-bottom: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 35px;
     -moz-column-gap: 35px;
          column-gap: 35px;
}
@media (max-width: 991.98px) {
  .header__container {
    -webkit-column-gap: 25px;
       -moz-column-gap: 25px;
            column-gap: 25px;
  }
}
@media (max-width: 767.98px) {
  .header__container {
    min-height: 90px;
    -webkit-column-gap: 15px;
       -moz-column-gap: 15px;
            column-gap: 15px;
  }
}
@media (max-width: 560px) {
  .header__logo {
    width: 38px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 38px;
            flex: 0 0 38px;
    overflow: hidden;
  }
}
.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.header__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
.header__logo, .header__cart, .header__button {
  position: relative;
  z-index: 2;
}

@media (max-width: 767.98px) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #0D0D11;
    left: -100%;
    top: 0;
    padding: 100px 15px 30px 15px;
    overflow: auto;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0;
    left: -100%;
    background-color: #0D0D11;
    -webkit-transition: left 0.3s ease 0s;
    transition: left 0.3s ease 0s;
  }
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-column-gap: 35px;
     -moz-column-gap: 35px;
          column-gap: 35px;
  row-gap: 3px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 991.98px) {
  .menu__list {
    -webkit-column-gap: 25px;
       -moz-column-gap: 25px;
            column-gap: 25px;
  }
}
@media (max-width: 767.98px) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    row-gap: 10px;
  }
}
.menu__link {
  display: block;
  color: #fff;
  line-height: 1.6;
}
.menu__link:hover {
  text-decoration: underline;
}
@media (max-width: 767.98px) {
  .menu__link {
    font-size: 32px;
  }
}

.menu-open .menu__body,
.menu-open .menu__body::before {
  left: 0;
}

.icon-menu {
  display: none;
}
@media (max-width: 767.98px) {
  .icon-menu {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    height: 18px;
    position: relative;
    z-index: 5;
    background-color: transparent;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    right: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 1px);
  }
}

.menu-open .icon-menu span {
  width: 0;
}

.menu-open .icon-menu::before {
  top: calc(50% - 1px);
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu-open .icon-menu::after {
  bottom: calc(50% - 1px);
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.cart-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 4.8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  letter-spacing: 1px;
}
@media (max-width: 560px) {
  .cart-header {
    display: none;
  }
}
.cart-header__text {
  font-size: 18px;
  line-height: 1.55;
}
.cart-header__text:hover {
  text-decoration: underline;
}
.cart-header__quantity {
  font-size: 14px;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  line-height: 1;
  border-radius: 50%;
  background: rgba(129, 129, 139, 0.3);
}

/*|MAIN|MAIN|MAIN|MAIN|MAIN|MAIN|MAIN|MAIN|MAIN|MAIN|MAIN|MAIN|MAIN|MAIN|MAIN|MAIN|MAIN|MAIN|MAIN|MAIN|MAIN|MAIN|*/
.main {
  padding: 160px 0 100px 0;
}
@media (max-width: 991.98px) {
  .main {
    padding: 120px 0 70px 0;
  }
}
@media (max-width: 767.98px) {
  .main {
    padding: 100px 0 50px 0;
  }
}
.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}
@media (max-width: 767.98px) {
  .main__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.main__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
@media (max-width: 767.98px) {
  .main__content {
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
  }
}
.main__header {
  position: relative;
}
.main__header::before {
  content: "";
  background: url("../img/main/decor.svg") 0 0/100% no-repeat;
  width: 122px;
  height: 122px;
  position: absolute;
  top: -15.52px;
  left: -31.19px;
  z-index: -1;
}
.main__images {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.header-main__title:not(:last-child) {
  margin: 0 0 28px 0;
}
.header-main__text:not(:last-child) {
  margin: 0 0 33px 0;
}
@media (min-width: 768px) {
  .header-main__text {
    max-width: 500px;
  }
}
.header-main__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
  row-gap: 15px;
}
@media (max-width: 479.98px) {
  .header-main__actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.images-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 9.6153846154%;
}
.images-main__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}
.images-main__item {
  overflow: hidden;
}
.images-main__item img {
  max-width: 100%;
}
.images-main .images-main__item_1,
.images-main .images-main__item_4 {
  border-radius: 156.259042769%/89.2859251841%;
}
.images-main .images-main__item_2 {
  border-radius: 50% 50% 0 50%;
}
.images-main .images-main__item_3 {
  border-radius: 50% 0 50% 50%;
}

/*|CLIENTS|CLIENTS|CLIENTS|CLIENTS|CLIENTS|CLIENTS|CLIENTS|CLIENTS|CLIENTS|CLIENTS|CLIENTS|CLIENTS|CLIENTS|*/
.clients {
  padding: 100px 0 70px 0;
}
@media (max-width: 767.98px) {
  .clients {
    padding: 50px 0 50px 0;
  }
}
.clients__title {
  text-align: center;
  text-transform: uppercase;
  color: #FFF;
  font-size: 14px;
  line-height: 160%;
  letter-spacing: 1px;
  margin: 0 0 44px 0;
}
.clients__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
.clients__item img {
  max-width: 100%;
}

/*|SERVICES|SERVICES|SERVICES|SERVICES|SERVICES|SERVICES|SERVICES|SERVICES|SERVICES|SERVICES|SERVICES|SERVICES|*/
.services {
  padding: 70px 0 90px 0;
}
@media (max-width: 767.98px) {
  .services {
    padding: 50px 0 50px 0;
  }
}
.services__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 32px;
}
@media (max-width: 1100px) {
  .services__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.services__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.services__items {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 32px;
}
@media (max-width: 620px) {
  .services__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (min-width: 620px) {
  .services__column:first-child {
    margin: 48px 0 0 0;
  }
}
@media (max-width: 1100px) {
  .header-main__title {
    max-width: none;
  }
}
@media (max-width: 1100px) {
  .header-main__text {
    max-width: none;
  }
}

.item-services {
  border-radius: 30px;
  background: rgba(129, 129, 139, 0.1);
  padding: 55px 25px 61px 25px;
  display: block;
}
.item-services:not(:last-child) {
  margin: 0 0 32px 0;
}
.item-services__icon:not(:last-child) {
  margin: 0 0 16px 0;
}
.item-services__title {
  color: #fff;
  font-size: 19.2px;
  font-weight: 400;
  line-height: 1.4;
}
.item-services__title:not(:last-child) {
  margin: 0 0 10px 0;
}
.item-services__text {
  color: #81818B;
  line-height: 1.5;
}

/*|WHY|WHY|WHY|WHY|WHY|WHY|WHY|WHY|WHY|WHY|WHY|WHY|WHY|WHY|WHY|WHY|WHY|WHY|WHY|WHY|WHY|WHY|WHY|WHY|WHY|WHY|WHY|*/
.why {
  padding: 90px 0;
}
@media (max-width: 991.98px) {
  .why {
    padding: 70px 0;
  }
}
@media (max-width: 767.98px) {
  .why {
    padding: 50px 0;
  }
}
.why__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 64px;
     -moz-column-gap: 64px;
          column-gap: 64px;
  row-gap: 64px;
}
@media (max-width: 767.98px) {
  .why__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}
.why__images {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.why__content {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.images-why {
  position: relative;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
@media (max-width: 767.98px) {
  .images-why {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}
.images-why::before {
  content: "";
  background: url("../img/why/decor.svg") 0 0/100% no-repeat;
  width: 122px;
  height: 122px;
  position: absolute;
  bottom: 0px;
  left: -12.69px;
  z-index: -1;
}
.images-why__item {
  overflow: hidden;
}
.images-why__item img {
  max-width: 100%;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}
.images-why__item_1 {
  border-radius: 90% 0 49% 49%/50% 0 31% 31%;
}
.images-why__item_2 {
  -ms-flex-item-align: end;
      align-self: flex-end;
  border-radius: 50% 50% 50% 0;
}

/*|ADVANTAGES|ADVANTAGES|ADVANTAGES|ADVANTAGES|ADVANTAGES|ADVANTAGES|ADVANTAGES|ADVANTAGES|ADVANTAGES|ADVANTAGES|*/
.advantages {
  padding: 90px 0;
}
@media (max-width: 991.98px) {
  .advantages {
    padding: 70px 0;
  }
}
@media (max-width: 767.98px) {
  .advantages {
    padding: 50px 0;
  }
}
.advantages__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  row-gap: 32px;
}
@media (max-width: 991.98px) {
  .advantages__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.advantages__items {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-right: 32px;
  display: -ms-grid;
  display: grid;
  gap: 32px;
  -ms-grid-columns: 1fr 32px 1fr;
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: 1fr 32px 1fr;
  grid-template-rows: repeat(2, 1fr);
}
.advantages__items > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
.advantages__items > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}
.advantages__items > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}
.advantages__items > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}
@media (max-width: 650px) {
  .advantages__items {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    padding-right: 0px;
  }
}
.advantages__item {
  padding: 40px;
  border-radius: 30px;
  background: rgba(129, 129, 139, 0.1);
}
.advantages__value {
  color: #FFF;
  font-size: 51.2px;
  font-weight: 500;
  line-height: 120%;
}
.advantages__value:not(:last-child) {
  margin: 0 0 32px 0;
}
.advantages__text {
  font-size: 18px;
  line-height: 150%;
}
.advantages__image {
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 38%;
          flex: 0 0 38%;
  overflow: hidden;
  border-radius: 0 66.486648% 56.274965% 57.079509%/0 56.108844% 51.965986% 48.92517%;
}
.advantages__image img {
  max-width: 100%;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}
@media (max-width: 991.98px) {
  .advantages__image {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

/*|TESTIMONIALS|TESTIMONIALS|TESTIMONIALS|TESTIMONIALS|TESTIMONIALS|TESTIMONIALS|TESTIMONIALS|TESTIMONIALS|*/
.testimonials {
  padding: 90px 0;
}
@media (max-width: 991.98px) {
  .testimonials {
    padding: 70px 0;
  }
}
@media (max-width: 767.98px) {
  .testimonials {
    padding: 50px 0;
  }
}
.testimonials__header {
  margin: 0 0 64px 0;
}
@media (max-width: 991.98px) {
  .testimonials__header {
    margin: 0 0 40px 0;
  }
}
.testimonials__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 48px 1fr 48px 1fr;
  grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 48px;
     -moz-column-gap: 48px;
          column-gap: 48px;
  row-gap: 32px;
}
@media (max-width: 1100px) {
  .testimonials__items {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }
}
.item-testimonials {
  padding: 64px 40px;
  border-radius: 30px;
  background: rgba(129, 129, 139, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 33px;
}
@media (max-width: 1100px) {
  .item-testimonials {
    padding: 30px 20px;
  }
}
.item-testimonials__title {
  color: #FFF;
  font-size: 32px;
  font-weight: 400;
  line-height: 1.4;
}
.item-testimonials__text {
  line-height: 1.5;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.user-testimonial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}
.user-testimonial__avatar {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 68px;
          flex: 0 0 68px;
  overflow: hidden;
}
.user-testimonial__avatar img {
  max-width: 100%;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}
.user-testimonial__avatar_1 {
  border-radius: 0 50% 50% 50%;
}
.user-testimonial__avatar_2 {
  border-radius: 50% 0 50% 50%;
}
.user-testimonial__avatar_3 {
  border-radius: 50% 50% 0 50%;
}
.user-testimonial__title {
  color: #FFF;
  line-height: 150%;
}
.user-testimonial__title:not(:last-child) {
  margin-bottom: 7px;
}
.user-testimonial__company {
  font-size: 14px;
  line-height: 160%;
}

.testimonials .header-main__label:not(:last-child) {
  margin: 0 0 25px 0;
}
.testimonials .header-main__title {
  max-width: 630px;
}
.testimonials .header-main__text {
  margin-bottom: 0px;
  max-width: 740px;
}
.testimonials .header-main__actions {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
@media (min-width: 767.98px) {
  .testimonials .header-main__actions {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}
/*|BLOG|BLOG|BLOG|BLOG|BLOG|BLOG|BLOG|BLOG|BLOG|BLOG|BLOG|BLOG|BLOG|BLOG|BLOG|BLOG|BLOG|BLOG|BLOG|BLOG|BLOG|BLOG|*/
.blog {
  padding: 90px 0;
}
@media (max-width: 991.98px) {
  .blog {
    padding: 70px 0;
  }
}
@media (max-width: 767.98px) {
  .blog {
    padding: 50px 0;
  }
}
.blog__header {
  margin: 0 0 64px 0;
}
@media (max-width: 767.98px) {
  .blog__header {
    margin: 0 0 32px 0;
  }
}
.blog__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 48px 1fr 48px 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 48px;
}
@media (max-width: 1100px) {
  .blog__items {
    gap: 20px;
  }
}
@media (max-width: 767.98px) {
  .blog__items {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }
}
.item-blog {
  border-radius: 24px;
  background: rgba(129, 129, 139, 0.1);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}
.item-blog__header {
  position: relative;
  margin: 0 0 10px 0;
}
.item-blog__category {
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 0px 10px 0px 0px;
  background: rgba(129, 129, 139, 0.5);
  padding: 9px 9.8px 9px 10px;
  color: #FFF;
  font-size: 14px;
  line-height: 1.6;
  z-index: 2;
}
.item-blog__image {
  display: block;
  position: relative;
  padding-bottom: 48.5%;
}
.item-blog__image img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.item-blog__body {
  padding: 26px 29px 40px 26px;
}
@media (max-width: 1100px) {
  .item-blog__body {
    padding: 16px 19px 30px 16px;
  }
}
.item-blog__date {
  color: rgba(129, 129, 139, 0.9);
  line-height: 1.5;
}
.item-blog__date:not(:last-child) {
  margin: 0 0 20px 0;
}
.item-blog__title:not(:last-child) {
  margin: 0 0 30px 0;
}
.item-blog__link-title {
  color: #FFF;
  font-size: 19.2px;
  font-weight: 400;
  line-height: 1.4;
}
.item-blog__text {
  line-height: 1.5;
}
.item-blog__text:not(:last-child) {
  margin: 0 0 22px 0;
}
.item-blog__link {
  color: #3D96F4;
  font-size: 14px;
  line-height: 1.6;
}

.blog .header-main__label:not(:last-child) {
  margin: 0 0 25px 0;
}
.blog .header-main__title {
  max-width: 395px;
}
.blog .header-main__text {
  margin-bottom: 0px;
  max-width: 740px;
}
.blog .header-main__actions {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}
@media (min-width: 767.98px) {
  .blog .header-main__actions {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
}
/*|START|START|START|START|START|START|START|START|START|START|START|START|START|START|START|START|START|START|*/
.start {
  padding: 90px 0 100px 0;
}
@media (max-width: 991.98px) {
  .start {
    padding: 70px 0 80px 0;
  }
}
@media (max-width: 767.98px) {
  .start {
    padding: 50px 0 60px 0;
  }
}
.start__body {
  border-radius: 30px;
  background: rgba(129, 129, 139, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 52px 40px;
}
@media (max-width: 991.98px) {
  .start__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 30px;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
}
.start__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  text-align: center;
}
.start__title {
  color: #FFF;
  font-size: 32px;
  font-weight: 400;
  line-height: 1.4;
}
.start__title:not(:last-child) {
  margin: 0 0 16px 0;
}
@media (max-width: 767.98px) {
  .start__title {
    font-size: 24px;
  }
}
.start__text {
  line-height: 1.5;
  max-width: 305px;
  display: inline-block;
}
.start__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 32px;
     -moz-column-gap: 32px;
          column-gap: 32px;
  row-gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 479.98px) {
  .start__actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*|FOOTER|FOOTER|FOOTER|FOOTER|FOOTER|FOOTER|FOOTER|FOOTER|FOOTER|FOOTER|FOOTER|FOOTER|FOOTER|FOOTER|FOOTER|*/
.footer__main {
  padding: 100px 0 160px 0;
}
@media (max-width: 991.98px) {
  .footer__main {
    padding: 70px 0 80px 0;
  }
}
@media (max-width: 767.98px) {
  .footer__main {
    padding: 50px 0 60px 0;
  }
}
.main-footer__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(auto, 379px) 64px auto 64px auto 64px minmax(auto, 377px);
  grid-template-columns: minmax(auto, 379px) auto auto minmax(auto, 377px);
  -webkit-column-gap: 64px;
     -moz-column-gap: 64px;
          column-gap: 64px;
  row-gap: 32px;
}
@media (max-width: 1100px) {
  .main-footer__container {
    -ms-grid-columns: minmax(auto, 379px) 45px auto 45px auto;
    grid-template-columns: minmax(auto, 379px) auto auto;
    -webkit-column-gap: 45px;
       -moz-column-gap: 45px;
            column-gap: 45px;
    row-gap: 25px;
  }
}
@media (max-width: 767.98px) {
  .main-footer__container {
    -ms-grid-columns: auto 35px auto;
    grid-template-columns: auto auto;
    -webkit-column-gap: 35px;
       -moz-column-gap: 35px;
            column-gap: 35px;
  }
}
.main-footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
@media (max-width: 1100px) {
  .main-footer__column:nth-child(1) {
    -ms-grid-column-span: 3;
    grid-column: span 3;
  }
}
@media (max-width: 767.98px) {
  .main-footer__column:nth-child(1) {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }
  .main-footer__column:nth-child(4) {
    -ms-grid-column-span: 2;
    grid-column: span 2;
  }
}
.main-footer__text {
  line-height: 1.5;
}
.main-footer__label {
  color: #FFF;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 1px;
}
.main-footer__list {
  display: -ms-grid;
  display: grid;
  gap: 24px;
}
@media (max-width: 479.98px) {
  .main-footer__list {
    gap: 15px;
  }
}
.main-footer__link {
  color: #9C9C9C;
  line-height: 1.6;
}
.main-footer__link:hover {
  color: #fff;
}
.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}
.social__link {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 36px;
          flex: 0 0 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid rgba(129, 129, 139, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.social__link:hover {
  border: 1px solid rgba(255, 255, 255, 0.9);
}

.subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}
@media (max-width: 479.98px) {
  .subscribe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.subscribe__input {
  width: 100%;
  border-radius: 50px;
  border: 1px solid rgba(129, 129, 139, 0.3);
  padding: 14.5px 32.9px;
  font-weight: 400;
  line-height: 1.2;
  color: #FFF;
  background-color: transparent;
}
.subscribe__input::-webkit-input-placeholder {
  color: #999;
}
.subscribe__input::-moz-placeholder {
  color: #999;
}
.subscribe__input:-ms-input-placeholder {
  color: #999;
}
.subscribe__input::-ms-input-placeholder {
  color: #999;
}
.subscribe__input::placeholder {
  color: #999;
}
.bottom-footer {
  border-top: 1px solid rgba(129, 129, 139, 0.2);
  padding: 46px 0;
}
.bottom-footer__container {
  text-align: center;
}